body {
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 15px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
}
td {
  border: 2px solid black;
  text-align: center;
  font-family: Helvetica;
  font-size: 40px;
  padding: 6px;
  width: 60px;
  height: 60px;
}
